//- intro height , you can input other number in _config.yml
- let menuOuterStyle = ''
- let introHeight = typeof theme.intro_height === 'number' ? theme.intro_height : 60
- let introStyle = `height: ${introHeight}vh;`
//- site haeder image url
- let bgURL = ''
if (is_home())
  - bgURL = theme.site_header_image
else if (is_post())
  - bgURL = theme.post_header_image || theme.site_header_image
else if (page.layout === '404')
  - bgURL = theme._404_image || theme.site_header_image
else if (page.layout === 'about')
  - bgURL = theme.about_header_image || theme.site_header_image
else if (is_archive())
  - bgURL = theme.about_header_image || theme.site_header_image
else 
  - bgURL = theme.site_header_image
- let bgStyle =  `background-image: url(${bgURL});`
#menu-outer(style= introStyle)
  .menu-intro-img(style=bgStyle)
  - if (is_post()){
    h1.post-title= page.title

  - } else {
    h1= theme.main_title || config.title
    p= theme.subtitle
  - }
  nav#menu-inner
    .menu-nav
      .menu-title
        a(href='/')= theme.main_title || config.title
      .menu-label-box
        each url, label in theme.menu
          a(href=url)= label
    