//- intro height , you can input other number in _config.yml
- let introHeight = typeof theme.intro_height === 'number' ? theme.intro_height : 60
- let introStyle = `height: ${introHeight}vh;`
//- site haeder image url
- let bgURL = ''
if (is_home())
  - bgURL = theme.site_header_image
else if (is_post())
  - bgURL = theme.post_header_image || theme.site_header_image
else if (is_tag())
  - bgURL = theme.tag_header_image || theme.site_header_image
else if (page.layout === 'about')
  - bgURL = theme.about_header_image || theme.site_header_image
else if (is_archive())
  - bgURL = theme.archive_header_image || theme.site_header_image
else 
  - bgURL = theme.site_header_image
- let bgStyle =  `background-image: url(${bgURL});`
header#cxo-intro(style= introStyle + bgStyle)
  include nav.pug
  - if (is_post()){
    h1.post-title= page.title
  - } else {
    h1= theme.main_title || config.title
    h5= theme.subtitle
  - }
  - if (is_post()){
    .post-intros
      .post-intro-meta
        span.post-intro-time
          - let format = theme.date_format ? theme.date_format : date_format
          - if(theme.display_updated) {
            i.post-intro-calendar.fa.fa-edit
            span= date(page.updated, format)
          - } else {
            i.post-intro-calendar.fa.fa-calendar
            span= date(page.date, format)
          - } 
        if(theme.busuanzi)
          span#busuanzi_container_page_pv.busuanzi-pv
            i.post-intro-calendar.fa.fa-user-o
            span#busuanzi_value_page_pv
        if(page.tags.length) 
          span.post-intro-tags!= partial('./includes/partial/tag', {currPost: page,className: 'intro-tag'})
      if(theme.reading_info)
        .post-intro-read
          span 
            | Word count: 
            span.post-count= wordcount(page.content)
            |  | Reading time: 
            span.post-count= min2read(page.content)
            | min
  - }
  - if (!is_post()){
    .intro-social
      include social.pug
  - }
    