- let pageTitle = ''
- if (page.title) {
- pageTitle = page.title + ' · ' + theme.SEO_title || config.title
- } else {
- pageTitle = theme.SEO_title
- }
head
  meta(charset='UTF-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(name="author" content=`${config.author}`)
  meta(name="renderer" content="webkit")
  meta(name="copyright" content=`${config.author}`)
  meta(name="keywords" content=`${config.title || config.author}`)
  meta(name="description" content=`${config.description}`)
  meta(name="Cache-Control" content="no-cache")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  title= pageTitle
  if theme.stylesheets !== undefined && theme.stylesheets.length > 0
    //- stylesheets list from config.yml
    each url in theme.stylesheets
      link(rel='stylesheet', href=url)
  link(rel="icon", href=url_for(theme.favicon))
  link(rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css?version=1.5.6")
  // scripts
  include preload.pug
  script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" defer)
  if theme.scripts !== undefined && theme.scripts.length > 0
    //- scripts list from config.yml
    each url in theme.scripts
      script(src=url defer)
  // fancybox
  link(rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js" defer)
  // busuanzi
  if (theme.count.busuanzi)
    script(async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js")
